/******************************************

	Polishop eCommerce HTML Template
	Template By Harnish Design
	www.harnishdesign.net
	
*******************************************/

/*********** button ***********/


.product-tab{margin-bottom:20px;}
.product-tab .xtabs{height:30px; line-height: 16px; padding-left:10px; border-bottom: 1px solid #ddd; margin-bottom:20px;}
.product-tab .xtabs li{float:left; list-style-type:none;}
.product-tab .xtabs li a{padding:7px 15px 6px 15px; float:left; font-size:14px; text-transform:uppercase; font-weight: normal; text-align: center; text-decoration: none; color: #222; margin-right: 2px; opacity:0.7; border-top: 1px solid #fff; border-left: 1px solid #fff; border-right: 1px solid #fff;}
.product-tab .xtabs li.active a{opacity:1; padding-bottom: 7px; background: #FFFFFF; border-top: 1px solid #ddd; border-left: 1px solid #ddd; border-right: 1px solid #ddd;}
.product-tab .deactive{display:none;}
.addthis_default_style > a{padding:0}


.product-tab1{margin-bottom:20px;}
.product-tab1 .ytabs{height:30px; line-height: 16px; padding-left:10px; border-bottom: 1px solid #ddd; margin-bottom:20px;}
.product-tab1 .ytabs li{float:left; list-style-type:none;}
.product-tab1 .ytabs li a{padding:7px 15px 6px 15px; float:left; font-size:14px; text-transform:uppercase; font-weight: normal; text-align: center; text-decoration: none; color: #222; margin-right: 2px; opacity:0.7; border-top: 1px solid #fff; border-left: 1px solid #fff; border-right: 1px solid #fff;}
.product-tab1 .ytabs li.active a{opacity:1; padding-bottom: 7px; background: #FFFFFF; border-top: 1px solid #ddd; border-left: 1px solid #ddd; border-right: 1px solid #ddd;}
.product-tab1 .deactive{display:none;}


/*********** box products ***********/
.box-product { width: 100%; }
.box-product > .flexslider ul li{vertical-align: top; background:transparent; text-align:center; width:200px;}
.box-product > .flexslider ul li .slide-inner{padding:10px; position: relative; text-align: center; border:1px solid #fff;}
.box-product > .flexslider ul li .slide-inner:hover{border:1px solid #ddd;}
.box-product .image { display: block; margin-bottom:5px;}
.box-product .image a { display:block; }
.box-product .image img { padding:0px; }
.box-product .name a {font-size: 1.1em;
line-height: 1.7em;
color: #002873;
margin: 0 0 5px 0;display:block;text-overflow: ellipsis;white-space: nowrap;}
.box-product .name a:hover {font-size:1.2em;color:#000000;}

.box-product > .flexslider ul li .cart input, .box-product > .flexslider ul li .cart a{padding:2px 3px; font-size:11px; height:auto;background:url(../images/buttonone.gif); line-height:normal; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif;}
.box-product > .flexslider ul li .rating img{ width:auto; display:inline;}
